{
    extends: ["vue"],
    plugins: ["vue"],
    rules: {
        'array-bracket-spacing': [ 2, 'always' ],
        'brace-style': [ 2, 'stroustrup' ],
        'indent': [2, 4, { 'SwitchCase': 1 }],
        'key-spacing': [ 2, {
                'beforeColon': true,
                'afterColon': true,
                'mode': 'minimum',
                'align': 'colon'
            }
        ],
        'keyword-spacing': [ 2, { 'before': true, 'after': true } ],
        'object-curly-spacing': [2, 'always', { objectsInObjects: false }],
        'semi': [2, 'always'],
        'space-before-function-paren': [2, 'never'],
        'space-in-parens': [2, 'always'],
    }
}