.hero.is-primary.is-bold {
    background: url('/images/headerbg.jpg') no-repeat center center;
    background-size: cover;
}

.hero.is-light a:not(.button), .hero.is-light strong {
    color: #00d1b2;
}