// Rarities
$mythic : #FEA97F;
$uncommon : #d4d3e6;
$common : #545454;
$rare : #e0c596;
$teal : #00d1b2;

// Mana
$plains : #f0f2c0;
$mountains : #db8664;
$forest : #93b483;
$island : #b5cde3;
$swamp : #aca29a;

// Bulma.io
$lightgrey : #dbdbdb;
